//Job_Kyungu_L
//joblodo@cdo-global.ru


// Variables For Color 
$--text-color-header                 : rgb(101, 142, 255);
$--text-color-header-hover-and-logo  :  rgb(253, 77, 77);
$--border-color-low                  : rgb(133, 161, 240);
$--link-color-low                    : rgba(255, 255, 255, 0.8);
$--background-color-blue             : rgb(6, 59, 202);
$--color-pagraphe-footer             : rgb(121, 121, 121);
$--color-dark                        : black;
$color-black-low                     : rgb(59, 59, 59);
$--color-orange-low                  : rgb(250, 245, 241);
$--color--secondary-input            : rgb(161, 161, 161);
$--border-Secondary-color            : #e5e7eb;
$--colorWhitePage                    : #FFFF;
